.changelogContainer {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.changelogContainer li {
    width: fit-content;
    text-align: left;
    margin-right: auto;
}
.changelogContainer ul {
}