@font-face {
    font-family: LilitaOne;
    src: url(../fonts/LilitaOne-Regular.ttf) format("truetype");
}

@font-face {
    font-family: RobotoBold;
    src: url(../fonts/Roboto-Bold.ttf) format("truetype");
}
